body {
  background-color: #6C9A8B;
}
h5 {
  color: #EED2CC;
  text-align: center;
  font-size: 85px;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a25c3869-9dab-4fab-bc27-239ce00c0850/demf2vm-df14daa7-82d2-4d2e-8631-c9d659054507.png/v1/fill/w_1600,h_1067,q_80,strp/over_the_garden_wall_by_tomtc_demf2vm-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA2NyIsInBhdGgiOiJcL2ZcL2EyNWMzODY5LTlkYWItNGZhYi1iYzI3LTIzOWNlMDBjMDg1MFwvZGVtZjJ2bS1kZjE0ZGFhNy04MmQyLTRkMmUtODYzMS1jOWQ2NTkwNTQ1MDcucG5nIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.UnOKuQT81gz4ncY3Hzq1LSDv_bEOmwn4NBVJV9oc-fY)
}
